@using System.Linq
@using PaymentAutomation.Models
@model (DateOnly weekEndingDate, Agent agent, IReadOnlyCollection<Booking> bookings, IReadOnlyCollection<Adjustment> adjustments)

@{
    var (weekEndingDate, agent, bookings, adjustments) = Model;
    var bookingsTotal = bookings.Sum(b => b.FranchisePayable);
    var adjustmentsTotal = adjustments.Sum(a => a.FranchisePayable);
    var totalCommissionPayable = bookingsTotal + adjustmentsTotal;
    var feeAmount = Math.Max(Math.Round(totalCommissionPayable * agent.Settings.CommissionFeePercent, 2), 0);
    var agentCommission = Math.Max(totalCommissionPayable - feeAmount, 0);
}

<html>
    <head>
        <style>
            body {
                background-color: white;
                color: black;
            }

            .footer-title {
                font-weight: bold;
            }

            .table-title-lg {
                font-size: 16pt;
            }

            .table-title-sm {
                font-size: 12pt;
            }

            .align-center {
                text-align: center;
            }

            .align-right {
                text-align: right;
            }

            .full-width {
                width: 100%;
            }

            .float-right {
                float: right;
            }

            .text-muted {
                color: #777777;
            }

            .table {
                border-collapse: collapse;
            }

            .table td, .table th {
                padding: 5px;
            }

            .table.is-bordered td, .table.is-bordered th {
                border: 1px solid lightgray;
            }

            .table.is-striped tbody tr:nth-child(even) td {
                background-color: #f0f0f0;
            }

            .table.is-striped tbody tr:nth-child(odd) td {
                background-color: white;
            }

            .table tfoot tr:first-of-type {
                border-top: 4px solid lightgray;
            }
        </style>
    </head>

    <body>
        <table class="full-width">
            <tr>
                <td class="table-title-lg">
                    <span style="font-weight: bold;">Agency:</span> CruiseOne Darci Upham
                </td>
                <td class="table-title-sm float-right text-muted">
                    <span style="font-weight: bold;">Week Ending:</span> @weekEndingDate
                </td>
            </tr>
            <tr>
                <td class="table-title-lg">
                    <span style="font-weight: bold;">Agent:</span> @agent.FullName
                </td>
            </tr>
        </table>

        <br />

        <table class="table is-bordered is-striped full-width">
            <thead>
                <tr>
                    <th colspan="15" class="font-size-md">Bookings</th>
                </tr>
                <tr>
                    <th rowspan="2">Travel Order #</th>
                    <th rowspan="2">Guest</th>
                    <th rowspan="2">Supplier</th>
                    <th rowspan="2">Trip Start</th>
                    <th rowspan="2">Trip Book</th>
                    <th rowspan="2">Comm. Sale Price</th>
                    <th colspan="4" style="text-align: center;">Royalty</th>
                    <th colspan="2" style="text-align: center;">Commission</th>
                    <th rowspan="2">Amt Paid Prior</th>
                    <th colspan="2" style="text-align: center;">Franchise</th>
                </tr>
                <tr>
                    <th>%</th>
                    <th>Amt</th>
                    <th>Paid</th>
                    <th>Paid/ Period</th>
                    <th>Total</th>
                    <th>Total Franchise</th>
                    <th>Paid/ Period</th>
                    <th>Due</th>
                </tr>
            </thead>
            <tbody>
                @if (!bookings.Any())
                {
                    <tr>
                        <td colspan="15" style="font-style: italic;">
                            No bookings
                        </td>
                    </tr>
                }
                @foreach (var booking in bookings.OrderBy(b => b.TripBookDate))
                {
                    <tr>
                        <td>
                            @booking.BookingId
                        </td>
                        <td>
                            @booking.PassengerName
                        </td>
                        <td>
                            @booking.Supplier
                        </td>
                        <td>
                            @booking.TripStartDate
                        </td>
                        <td>
                            @booking.TripBookDate
                        </td>
                        <td>
                            @booking.CommissionablePrice.ToString("C")
                        </td>
                        <td>
                            @((@booking.ServiceFeePercent / 100).ToString("P1"))
                        </td>
                        <td>
                            @booking.ServiceFeeAmount.ToString("C")
                        </td>
                        <td>
                            @booking.ServiceFeePaid.ToString("C")
                        </td>
                        <td>
                            @booking.ServiceFeePayable.ToString("C")
                        </td>
                        <td>
                            @booking.CommissionTotalAmount.ToString("C")
                        </td>
                        <td>
                            @booking.CommissionFranchiseAmount.ToString("C")
                        </td>
                        <td>
                            @booking.AmountPaidPrior.ToString("C")
                        </td>
                        <td>
                            @booking.FranchisePayable.ToString("C")
                        </td>
                        <td>
                            @booking.FranchiseDueAmount.ToString("C")
                        </td>
                    </tr>
                }

                @if (adjustments.Any())
                {
                    <tr>
                        <th colspan="15">Adjustments</th>
                    </tr>
                    <tr>
                        <th rowspan="2" colspan="2">
                            Adjustment Type
                        </th>
                        <th rowspan="2" colspan="4">
                            Details
                        </th>
                        <th rowspan="2" colspan="4">
                            Royalty Paid/Period
                        </th>
                        <th colspan="2">
                            Commission
                        </th>
                        <th rowspan="2">
                            Amt Paid Prior
                        </th>
                        <th colspan="2">
                            Franchise
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Total
                        </th>
                        <th>
                            Total Franchise
                        </th>
                        <th>
                            Paid/ Period
                        </th>
                        <th>
                            Due
                        </th>
                    </tr>
                    @foreach (var adjustment in adjustments.OrderBy(a => (a!.Agent.LastName, a.Agent.FirstName)))
                    {
                        <tr>
                            <td colspan="2">
                                @adjustment.Type.Value
                            </td>
                            <td colspan="4">
                                @adjustment.Description
                            </td>
                            <td colspan="4">
                                @adjustment.ServiceFeePayable.ToString("C")
                            </td>
                            <td>
                                @adjustment.CommissionTotalAmount.ToString("C")
                            </td>
                            <td>
                                @adjustment.CommissionFranchiseAmount.ToString("C")
                            </td>
                            <td>
                                @adjustment.AmountPaidPrior.ToString("C")
                            </td>
                            <td>
                                @adjustment.FranchisePayable.ToString("C")
                            </td>
                            <td>
                                @adjustment.FranchiseDueAmount.ToString("C")
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td class="footer-title">
                        Franchise Commission
                    </td>
                    <td>
                        @totalCommissionPayable.ToString("C")
                    </td>
                </tr>
                <tr>
                    <td class="footer-title">
                        Fee %
                    </td>
                    <td>
                        @agent.Settings.CommissionFeePercent.ToString("P0")
                    </td>
                </tr>
                <tr>
                    <td class="footer-title">
                        Fee Amount
                    </td>
                    <td>
                        @feeAmount.ToString("C")
                    </td>
                </tr>
                <tr>
                    <td class="footer-title">
                        Agent Commission
                    </td>
                    <td style="font-weight: bold;">
                        @agentCommission.ToString("C")
                    </td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>